
<div class="container">
    <div class="card-header"><h2>Simple Calculator Using Angular</h2></div>
    <div class="card-body">
        <div class="form-group d-flex flex-row" >
            <input  type="number" #box1 name="num1" [(ngModel)]="num1" class="form-control" placeholder="Enter num1">
            <input type="number" #box2 name="num2" [(ngModel)]="num2" class="form-control" placeholder="Enter num2">
        </div>
        <div class="class">
            <button class="btn btn-success" (click)="add()">Add</button>
            <button class="btn btn-danger" (click)="sub()">subtract</button>
            <button class="btn btn-primary" (click)="multiply()">multiply</button>
            <button class="btn btn-success" (click)="divide()">divide</button>
        </div>
    </div>
    <div class="card-footer">
        <h4>Sum of {{num1}} and {{num2}} is : {{result}}</h4>
    </div>
</div>

